// feature section
.feature-section{
  min-height: 30vh;
  background-color: rgb(233, 229, 229);
  display: flex;
}
.feature{
  width: 90%;
  margin: auto;
  display: flex;
  // align-items: flex-start;
  flex-wrap: wrap;
}
.feature-card{
  text-align: left;
  flex: 1 1 45rem;
  min-height: 10vh;
  align-items: center;
  justify-content: center;
  margin: 2rem 2rem;
  border-right: 2px solid rgb(201, 199, 199);
  h3,p{
    padding-right: 2rem;
  }
  
}
.f-card3{
  border: none;
}
/* services section */
.services-section{
  min-height: 70vh;
}
.service-head{
  text-align: center;
  h2{
    margin:8rem 5rem 2rem 5rem;
  }
  p{
    margin: 0rem 5rem 4rem 5rem ;
  }
}
.services{
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.service{
  text-align: center;
  flex: 1 1 40rem;
  min-height: 35vh;
  margin: 2rem 1rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  img {
    max-width: 10%;
    margin: 1rem;
  }
  h3,p{
    padding: 1rem;
    line-height: 1.8;
  }
  
}
.service-icon{
  background: #a350e0,
  ;
  border-radius: 20px 20px 0px 0px;
}