.feature-section{
  min-height: 30vh;
  background-color: rgb(233, 229, 229);
  display: flex;
}
.feature{
  width: 90%;
  margin: auto;
  display: flex;
  // align-items: flex-start;
  flex-wrap: wrap;
}
.feature-card{
  text-align: left;
  flex: 1 1 25rem;
  min-height: 10vh;
  align-items: center;
  justify-content: center;
  margin: 2rem 2rem;
  border-right: 2px solid rgb(201, 199, 199);
  h3,p{
    padding-right: 2rem;
  }
  // box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);

}
.f-card3{
  border: none;
}