/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: $header1;
  color: #ec3ab0;
}
li,
button,
label,
input,
a,
p {
  font-size: $text;
}
h2 {
  font-size: $header2;
}
h3 {
  font-size: $header3;
}
h4,
h5 {
  font-size: $header4;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  
  background: #d833a2;
  border: none;
  border-radius: 26px;
  font-size: 1.6rem;
  margin-top: 4rem;
  padding: 1.3rem 4rem;
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: background 0.5s ease-in-out;
}
button:hover {
  background: #a12879;
}
