.main-head{
  background: $gradient;
  position: sticky;
  z-index: 10;
}
a{
  color: white;
}
nav{
  width: 90%;
  margin: auto;
  min-height: 10vh;
  display: flex;
  align-items: center;
  flex-wrap:wrap;
  padding: 1rem;
  .logo{
    flex: 1 1 25rem;
    img{
      height:auto;
      width: auto;
      max-height: 72px;
      max-width: 250px;
    }
  }
  
  ul{
    display: flex;
    flex: 4 1 25rem;
    justify-content: space-around;
    align-items: center;
    
  }
}
.hero{
  min-height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), transparent),url(../img/jamie-davies-FXEaV3aEQW8-unsplash.jpg);
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;

}
.hero-text{
  width: 90%;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  text-align: left;
  h1,h2{
    font-weight: 700;
    padding-bottom: 1rem;
  }
}
.hero-button{
  margin-top: 6rem;
}